{% extends 'base.html.twig' %}

{% block title %}Mesnie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body {
        height:-webkit-fill-available;
        background: url("https://ak7.picdn.net/shutterstock/videos/2397647/thumb/1.jpg") no-repeat;
        background-size: cover;
        margin:0;
        padding: 8px;
    }
    #mesnie-header {
        height: 100px;
        width: 100%;
        background: lightgrey;
        padding: 8px;
    }
    #mesnie-header-head {
        width: 200px;
        float: left;
    }
    h4 {
        margin-top:8px;
        margin-bottom: 8px;
    }
    #mesnie-header-family {
        width:200px;
        float: left;
    }
    #mesnie-header-date {
        width:200px;
        float: right;
    }
    #mesnie-body {
        margin: 24px;
    }
    #mesnie-front {
        background: rgba(230, 230, 100, 0.6);
        padding: 8px;
    }
    .center {
        text-align: center;
    }
    .half {
        float: left;
        width: 50%;
    }
    .tierce {
        float: left;
        width:33%;
    }
</style>

    <div id="mesnie-header">
        <div id="mesnie-header-head">
            <h4>Head of the mesnie</h4>
            <div class="firstname">
                {{ mesnie.head.firstname }}
            </div>
            <div class="age">
                {{ mesnie.head.age(date.year) }} years old
            </div>
            <div class="sex">
                {% if mesnie.head.isMale %}
                    Male
                {% else %}
                    Female
                {% endif %}
            </div>
        </div>
        <div id="mesnie-header-family">
            <h4>{{ mesnie.family.name }} family</h4>
            <div>
                {{ mesnie.family.mesnies.count }} mesnies
            </div>
            <div>
                patriarch :
                {{ mesnie.family.patriarch.firstname }}
                ({{ mesnie.family.patriarch.age(date.year) }})
            </div>
        </div>
        <div id="mesnie-header-date">
            <h4>Date</h4>
            <div>
                {{ date.english }}
            </div>
        </div>
    </div>
    <div id="mesnie-body">
        <div id="mesnie-front">
            <div class="info center">
                <div class="tierce">
                    <h4>
                        {% if mesnie.memberHeir(date.year) %}
                            Heir : {{ mesnie.memberHeir(date.year).firstname }}
                        {% else %}
                            No heir !
                        {% endif %}
                    </h4>
                </div>
                <div class="tierce">
                    <h4>members : {{ mesnie.members.count }}</h4>
                </div>
                <div class="tierce">
                    <h4 class="center">
                        Nubiles :
                        {{ mesnie.nubileMembers(date.year)["men"].count }} men,
                        {{ mesnie.nubileMembers(date.year)["women"].count }} women

                    </h4>
                    <div>
                        <div class="half">
                            <ul>
                                {% for member in mesnie.nubileMembers(date.year)["men"] %}
                                    <li>
                                        {{ member.age(date.year) }}yo : {{ member.firstname }}
                                        <a href="{{ path('client_family_marry_commoner', {'id':member.id}) }}" style="color: red">
                                            Marry a commoner ?
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="half">
                            <ul>
                                {% for member in mesnie.nubileMembers(date.year)["women"] %}
                                    <li>
                                        {{ member.age(date.year) }}yo : {{ member.firstname }}
                                        <a href="{{ path('client_family_marry_commoner', {'id':member.id}) }}" style="color: red">
                                            Marry a commoner ?
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="list">
                <ul>
                {% for member in mesnie.members %}
                    <li>
                        {{ member.firstname }},
                        {% if member.father or member.mother %}
                            {% if member.isMale %}
                                son
                            {% else %}
                                daughter
                            {% endif %}
                            of
                            {% if member.father %}
                                {{ member.father.firstname }}
                                {% if member.father.deathYear %}
                                    (dead)
                                {% endif %}
                            {% endif %}
                            {% if member.father and member.mother %}
                                and
                            {% endif %}
                            {% if member.mother %}
                                {{ member.mother.firstname }}
                                {% if member.mother.deathYear %}
                                    (dead)
                                {% endif %}
                            {% endif %}
                            ,
                        {% endif %}
                        {{ member.age(date.year) }} yo
                        {% if member.spouse %}
                            , married to {{ member.spouse.firstname }}
                        {% endif %}
                        .
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <div class="tierce">
                    <h4 class="center">
                        Inactives :
                    </h4>
                    <div>
                        <ul>
                        {% for member in mesnie.inactiveMembers(date.year) %}
                            <li>
                                {{ member.firstName }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tierce">
                    <h4 class="center">
                        Fields :
                    </h4>
                    <div>
                        <ul>
                            {% for field in mesnie.fields %}
                                <li>
                                    <h4>{{ field.type.name }} ({{ field.id }})</h4>
                                    <small>
                                        {% if field.workInProgress %}
                                            {{ field.workInProgress.name }} :
                                            {{ field.progress }}/{{ field.workInProgress.weeksNeeded }}
                                            {% if field.worker %}
                                                ({{ field.worker.firstName }})
                                            {% else %}
                                                <form action="{{ path('client_work_set') }}">
                                                    <input name="field" type="hidden" value="{{ field.id }}">
                                                    <select name="personage">
                                                        {% for member in mesnie.inactiveMembers(date.year) %}
                                                            <option value="{{ member.id }}">
                                                                {{ member.firstName }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="submit" value="to work !">
                                                </form>
                                            {% endif %}
                                        {% elseif field.type.workTypes.count > 0 %}
                                            <form action="{{ path('client_work_set') }}">
                                                <input name="field" type="hidden" value="{{ field.id }}">
                                                <select name="personage">
                                                    {% for member in mesnie.inactiveMembers(date.year) %}
                                                        <option value="{{ member.id }}">
                                                            {{ member.firstName }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <select name="workType">
                                                    {% for workType in field.type.workTypes %}
                                                        {% if (workType.isFieldOk(field) and workType.isMesnieOk(mesnie)) %}
                                                            <option value="{{ workType.id }}">
                                                                {{ workType.identifier }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <input type="submit" value="to work !">
                                            </form>
                                        {% else %}
                                            (no work allowed)
                                        {% endif %}
                                    </small>
                                    {% if field.growingPlant %}
                                        <br/>
                                        <small>
                                            growing {{ field.growingPlant.name }} :
                                            {{ field.growth }}/{{ field.growingPlant.growthTime }} months
                                        </small>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tierce">
                    <h4 class="center">
                        Money : {{ mesnie.money }}
                    </h4>
                    <div>
                        <ul>
                            {% for materialQuantity in mesnie.inventory %}
                                <li>
                                    <h4>{{ materialQuantity.material.name }} {{ materialQuantity.quantity }}</h4>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div>
                <h3 class="center">Market</h3>
                <div>
                    <div class="tierce">
                        <h4>Material</h4>
                    </div>
                    <div class="tierce">
                        <h4>In inventory</h4>
                    </div>
                    <div class="tierce">
                        <h4>Price</h4>
                    </div>
                    <div style="clear: both"></div>
                </div>
                {% for materialValue in materialValues %}
                    {% if materialValue.city == mesnie.city %}
                        <div>
                            <div class="tierce">
                                <h4>{{ materialValue.material.name }}</h4>
                            </div>
                            <div class="tierce">
                                <h4>{{ mesnie.quantityFromInventory(materialValue.material) }}</h4>
                            </div>
                            <div class="tierce">
                                <h4>
                                    {{ materialValue.value }}
                                    <form action="{{ path('client_market_buy') }}">
                                        <input name="material" type="hidden" value="{{ materialValue.material.id }}">
                                        <select name="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                        </select>
                                        <input type="submit" value="buy">
                                    </form>
                                    <form action="{{ path('client_market_sell') }}">
                                        <input name="material" type="hidden" value="{{ materialValue.material.id }}">
                                        <select name="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                        </select>
                                        <input type="submit" value="sell">
                                    </form>
                                </h4>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
